{% load thumbnail %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
<title>Puzzle Captcha</title>
<link rel="stylesheet" type="text/css" href="/adminmedia/css/forms.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jquery.jqueryui.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    //$('.piece:nth-child({{ puzzle.cols }}n)').after('<div style="clear: left;"></div>');
    
    $(".puzzle").sortable({ 
		    update: function() {
		        var looper = 1;
		        $(".piece input").each(function() {
		            $(this).val(looper);
		            looper+=1;
		        });
		    },    
		});
});
</script>
<style>
.puzzle {
    padding-left: 0px;
}

.piece {
    list-style: none;
    margin-bottom:-3px;
}
</style>
</head>
<body>
<form method="post">
{{ message }}
<input type="hidden" name="puzzle_key" value="{{ puzzle.key }}" />
{% csrf_token %}

<ul class="puzzle">
{% for piece in puzzle.get_random_pieces %}
<li class="piece"><img src="{{ MEDIA_URL }}{{ piece.image.name }}" /><input type="hidden" name="{{ piece.key }}" /></li>
{% endfor %}
</ul>
<input type="submit" value="Submit" />
</form>
</body>
</html>

